.container {
    display: flex-inline;
    max-width: 50%;
    max-height: 70%;
    background-color:antiquewhite;
}
.radio {
    margin: 0px 0px 15px;
}
.avatar {
    max-width: 70%;
}
.button {
    margin: 10px 0px;
    border-radius: 15px;
    background-color: lightsalmon;
}
.chat {
    
    border: 2px solid black;
    padding: 25px;
}
.userimage {
    max-width: 50px;
    max-height: 50px;
}